---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
You can also find my publications on
<a href="{{site.author.googlescholar}}">Google Scholar</a>.
</div>
{% endif %}

<h2>Selected Publications</h2>

<ul>
{% assign pubs = site.publications | sort: 'date' | reverse %}
{% for post in pubs %}
  <li>
    <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a><br>
    <em>{{ post.venue }}</em> ({{ post.date | date: "%Y" }})
  </li>
  <br>
{% endfor %}
</ul>
